<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password</title>

    <style>
        .title {
            font-size: 2rem;
        }

        .password {
            margin: 1rem 0 0 0;
        }

        .password__title {
            margin: 0 0 .5rem 0;
        }

        .password__pass {
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1 class="title">Congrats, {{ user.get_full_name }}! You successfully registered in <b>BigLibra</b></h1>
    <div class="password">
        <p class="password__title">Your temporary password</p>
        <p class="password__pass">{{ password }}</p>
    </div>
</body>
</html>