{% extends 'app/base.html' %}

{% block content %}
    <div class="container-md mt-4">
        <ul class="list-group">
            <li class="list-group-item">Username: {{ user.username }}</li>
            <li class="list-group-item">Name: {{ user.get_full_name }}</li>
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Data joined: {{ user.date_joined }}</li>
        </ul>
        {% if user == request.user %}
            <a class="btn-primary p-2 text-decoration-none mt-2" type="button" href="{% url 'accounts_reset' %}">Reset
                Password</a>
        {% endif %}
    </div>

    <div class="container-md mt-4">
        <div class="mb-3">
            {% if user.borrow_set.all.exists %}
                {% if user.borrow_set.all.count > 1 %}
                    <h1>Borrows</h1>
                {% else %}
                    <h1>Borrow</h1>
                {% endif %}
                <ul class="list-group">
                    {% for borrow in user.borrow_set.all %}

                        <a
                                class="list-group-item d-flex justify-content-between align-items-start"
                                type="button"
                                href="#">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ borrow }}</div>
                                {% with borrow.get_delta_time as deltatime %}
                                    <p class="mb-1">{{ deltatime.label }}: {{ deltatime.delta }}</p>
                                {% endwith %}
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info mt-3" role="alert">
                    No Borrows
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}