{% extends 'cms/base.html' %}

{% block template_style %}
{% endblock template_style %}

{% block content %}
    <div class="container-md mt-3">
        <div class="card mb-3" style="max-width: 100%">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="..." style="width: 100%">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        {# book title #}
                        <h3 class="card-title"><b>{{ book.title }}</b></h3>
                        {# book authors #}
                        <div>
                            {# defining plural form of author #}
                            {% if book.authors.all.count > 1 %}
                                <p class="card-text mb-0">Authors</p>
                                {% else %}
                                <p class="card-text mb-0">Author</p>
                            {% endif %}
                            <ul class="list-group mt-1">
                                {% comment %} Lising authors {% endcomment %}
                                {% for author in book.authors.all %}
                                    <li class="list-group-item">{{ author.get_full_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% comment %} book copies {% endcomment %}
                        <p class="card-text mt-3" >Copies: <b>{{ book.get_copies }}</b></p>
                        {% comment %} Is Available ? {% endcomment %}
                        <p class="card-text mt-3" >Available:
                            {% if book.get_copies %}
                                <b>Available</b>
                                {% else %}
                                <b>Out of Stock</b>
                            {% endif %}
                        </p>
                        {% comment %} Options Buttons {% endcomment %}
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-outline-dark" href="{{ book.get_edit_url }}">Edit</a>
                            {% if book.get_copies %}
                                <a type="button" class="btn btn-outline-dark" href="{{ book.get_add_borrow_url }}">Add Borrow</a>
                                {% else %}
                                <a type="button" class="btn btn-outline-dark disabled" href="{{ book.get_add_borrow_url }}">Add Borrow</a>
                            {% endif %}
                            <button
                                    type="button"
                                    class="btn btn-outline-dark"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModal">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Borrows {% endcomment %}
        <div class="mb-3">
        {% if book.borrow_set.all.exists %}
            {% if book.borrow_set.all.count > 1 %}
                    <h1>Borrows</h1>
                {% else %}
                    <h1>Borrow</h1>
            {% endif %}
                <ul class="list-group">
                {% for borrow in borrows %}
                    <a
                        class="list-group-item d-flex justify-content-between align-items-start"
                        type="button"
                        href="{{ borrow.cms_detail_url }}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ borrow }}</div>
                            {% with borrow.get_delta_time as deltatime %}
                                <p class="mb-1">{{ deltatime.label }}: {{ deltatime.delta }}</p>
                            {% endwith %}
                        </div>
                    </a>
                {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info mt-3" role="alert">
                    No Borrows
                </div>
        {% endif %}
        </div>
        {% comment %} Lost Borrows {% endcomment %}
        {% if lost_borrows %}
        <div>
            <h3>Lost Borrows</h3>
            <ul class="list-group">
                {% for borrow in lost_borrows %}
                    <a
                        class="list-group-item d-flex justify-content-between align-items-start"
                        type="button"
                        href="{{ borrow.cms_detail_url }}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ borrow }}</div>
                        </div>
                    </a>
                {% endfor %}
                </ul>
        </div>
        {% endif %}
        <div class="mb-5"></div>
    </div>

    {% comment %} Modal Confirmation for Delete {% endcomment %}
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete</p>
                    <h3>{{ book.title }}</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-primary" href="{{ book.get_delete_url }}">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}